body {
    background: #0e141b;
}

.cont{
    background-image: linear-gradient(to right, #2F303A66, #2F303A66), url('https://cdn.dribbble.com/users/496436/screenshots/1976154/check_send.png?compress=1&resize=800x600&vertical=top');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    color: #ff5277;
}

.posible_list li{
    color: #fff;
    font-size: 28px;
}

.heading{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-family: Notable;
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 60px;
}

.img{
    margin: 0 auto;
    max-width: 500px;
}

.posible_cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 200px 60px;
}