.filter {
    font-weight: 600;
    line-height: 1.2;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  .filter__input {
    margin-top: 5px;
  }