.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.25),
    inset 0 3px 0 rgba(255, 255, 255, 0.5), 0 3px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 22px rgba(0, 0, 0, 0.1);
}
.form__label {
  color: #786c5e;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.submit__btn {
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: #786c5e;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
.submit__btn:hover {
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
}