.contact__list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.25),
      inset 0 3px 0 rgba(255, 255, 255, 0.5), 0 3px 0 rgba(0, 0, 0, 0.1),
      inset 0 0 22px rgba(0, 0, 0, 0.1);
  }
  
  .contact__list__item {
    background-color: #e8eeeb;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 5px;
    padding-left: 5px;
    padding-right: 15px;
  }